body {
    height: 100vh;
}

.sidebar {
    min-height: 100vh;
    color: #fff;
    background-color: rgb(var(--bs-dark-rgb));
}

.sidebar .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.sidebar .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.sidebar .nav-link.active {
    font-weight: bold;
    color: #fff;
}

.main-content {
    padding: 20px;
}

.comments-section {
    max-width: 40vw;
    margin: auto;

    .comment-card {
        border: 0.1rem solid rgba(128, 128, 128, 0.432);
        border-radius: 0.2rem;
        height: 4rem;
        margin-bottom: 1rem;
        vertical-align: middle;
        align-items: center;
    }
}
